* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html {
    background-color: #292a2d;
    height: 100%;
    font-family: "Open Sans";
    color: white;
}
@font-face {
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-family: "Open Sans";
    font-style: normal;
}

.no-entries-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
    color: white;
    font-size: 20px;
    text-align: center;
}

.entries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.toggle-button {
    background-color: #404045;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #303035;
}


.description {
    background-color: #303035;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}
.entry {
    background-color: #404045;
    border-radius: 10px;
    padding: 10px; 
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 8px 20px rgba(67, 67, 68, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}


.entry img.edit-icon {
    position: absolute;
    right: 100px;
    top: 12px;
    width: 30px;
    height: auto;
    cursor: pointer;
    filter: invert(0.8);
}
.entry img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.entry p {
    color: white;
    margin: 3px 0;
}

.entry button.toggle-button {
    background-color: #2d2d30;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 0px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 10px;
}

.entry button.toggle-button:hover {
    background-color: #303035;
}



.entry-form {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}


.entry-form .description-text {
    width: 100%; 
    min-height: 50px; 
    word-break: break-word; 
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    box-sizing: border-box; 
    overflow-y: hidden; 
    resize: none; 
    transition: background-color 0.3s ease;
    background-color: white;
}

.home-icon {
    width: 60px; 
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease; 
    filter: contrast(0);
    position: absolute;
    margin-left: 26px;
}

.home-icon:hover {
    transform: scale(1.1); 
}
.description-text {
    color: black;
}
.entry-form textarea::placeholder {
    color: #888;
}
.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF5354; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.delete-button:hover {
    background-color: #E53935; 
}
.home-button {
    background-color: #3FE98B; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Open Sans";
    font-weight: 500;
}

.home-button:hover {
    background-color: #2CA870; 
}
@media (max-width: 500px) {
    .entry img {
        width: 80px;
    }
    .delete-button {
        padding: 7px 11px;
        font-weight: 500;
    }
    .entry img.edit-icon {
        width: 25px;
        right: 85px;
    }
    .entry {
        width: 90%;
    }
}
@media (max-width: 420px) {
    .entry {
        width: 100%;
    }

    .entries-container {
        padding: 5px; 
        padding-top: 10px;
    }

    .home-icon {
        width: 40px;
        margin-left: 13px;
    }
    .entry img.edit-icon {
        right: 79px;
        width: 21px;
    }
   
    .edit-icon {
        right: 85px; 
        top: 12px; 
    }
    .entry img {
        width: 60px;
    }
    .delete-button {
        font-size: 10px;
    }
    .enrty p {
        margin: 1px 0;
        font-size: 13px;
    }
}
